
if SHIELD_DYA_DASH_V3_RIGHT

config ZMK_KEYBOARD_NAME
    default "DYA Dash V3"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_DYA_DASH_V3_LEFT || SHIELD_DYA_DASH_V3_RIGHT
config ZMK_SPLIT
    default y
endif
